<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SalvarServlet</servlet-name>
        <servlet-class>Cliente.SalvarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salvar_CidadeServlet</servlet-name>
        <servlet-class>cidade.Salvar_CidadeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarServlet</servlet-name>
        <servlet-class>Cliente.EditarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirServlet</servlet-name>
        <servlet-class>Cliente.ExcluirServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Cliente.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SalvarServlet</servlet-name>
        <url-pattern>/SalvarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salvar_CidadeServlet</servlet-name>
        <url-pattern>/Salvar_CidadeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarServlet</servlet-name>
        <url-pattern>/EditarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirServlet</servlet-name>
        <url-pattern>/ExcluirServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
